.bander{
    background-image: url('../../assets/Logo/gradient-dark-blue-futuristic-digital-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}